<div> <a href="/cart" ><%= image_tag("icons/shopping_icon.png", width: "100px", height: "100px") %></a> <strong><%= @item %></strong> Item(s) in your cart! </div>
<% if flash[:success] %>
  		<div id="success">
  			<p><%= flash[:success] %></p>
		</div>
	<% end %>
<div class="title">
  <h2>MENU</h2>

  <div class=“menu”>
    <span><%= image_tag("products/cupcakes.JPG", width: "230px", height: "250px") %></span>
    <span><%= image_tag("products/cakepops.JPG", width: "230px", height: "250px") %></span>
    <span><%= image_tag("products/macaroons.JPG", width: "230px", height: "250px") %></span>
    <span><%= image_tag("products/cookies.JPG", width: "230px", height: "250px") %></span>

      <% @products.each do |product| %>
      <form action="/process/to_cart" method="POST">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="product" value="<%= product.id %>">
        <h5><%= product.name %> - Pack of <%= product.quantity %> at $<%= product.price %>
        <input type="submit" value="Add to Cart"> </h5>
        <br>
      </form>

      <% end %>

</div>
