<!DOCTYPE html>
<html>
<head>
  <title>SavvyHero</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <%= image_tag("logos/logo2.jpg", width: "125px", height: "150px") %>
        </div>
        <div class="col-md-1"><a href="/"> Home </a></div>
        <div class="col-md-1"><a href="/product/show"> Menu </a></div>
        <div class="col-md-1"><a href="/media">Media</a></div>
        <div class="col-md-1"><a href="/blog">Blogs</a></div>
        <div class="col-md-1"><a href="/cart"> Cart</a></div>
        <div class="col-md-2"><a href="/sessions/new">Sign In</a> | <a href="/users/new">Sign Up</a></li></div>
        <div class="col-md-3"><form class="form-inline">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            <button type="submit" class="btn btn-default">Search</button>
          </form></div>
        </div>
    </div>
    <div class= "row">
            <div class="col-sm-2 col-md-8 col-lg-12">
            <%= image_tag("baked_goods/cover_page.jpg", class:"img-responsive") %>
            </div>
    </div>
    <%= yield %>
    <%= render 'shared/footer'%>
  </div>
  </body>
  </html>
